<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parker</title>
    <link rel="stylesheet" href="index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="hasNavBar">
    <nav class="navbar navbar-expand-lg"  id="HomeTop">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
          <a href="/index"><img class="form-inline" src="Parker_Top.png" alt="Logo" id="NavLogo"></a>          
          <ul class="nav ms-auto justify-content-end background-color-dark">
            <li class="nav-item">
              <a class="nav-link text-white fs-5" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5 active" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div>
        <img src="Images/Background1.jpg" alt="Background1" id="BG_Img1">
        <h2>Experience the Convenience of Smart Parking</h2><img src="Images/Car.png" alt="Car" id="Car">
        <h3 class="h13">Unlock a new era in Parking Management and redefine the way you park by Parking at your
            fingertips</h3>
            <a href="#SectionExplore"><img src="Images/Explore.png" alt="Explore" id="Explore"></a>
        </div>
        <div id="SectionExplore">
            <img src="Images/BGExplore.png" alt="BackgroundExplore" id="BG_Explore">
        <h3 id="ExploreText">EXPLORE</h3>
    </div>

    <div>
        <iframe src="https://www.google.com.qa/maps/d/u/0/embed?mid=1g0LvHoLwS6gCFjm_5jdl6YnpkARZNu0&ehbc=2E312F&noprof=1&hl=en" id="GMap"></iframe>
    </div>

    <div class="L0Div">
        <div class="L1Div text-center" style="height: 6vh;width: 80vw;margin-top: 15px;margin-left: 10vw;">
           
        <form action="http://localhost:3000/prebook" method="post" style="display: flex;width: 80vw;padding: 10px 10px;justify-content: space-around;">
            Set Your Details : 
            <label for="InTime">In Time:</label>
            <input type="text" name="InTime" id="InTime" placeholder="HH:MM:SS" required>

            <label for="OutTime">Out Time:</label>
            <input type="text" name="OutTime" id="OutTime" placeholder="HH:MM:SS" required>

            <label for="NumberPlate">Number Plate:</label>
            <input type="text" name="NumberPlate" id="NumberPlate" placeholder="Eg:DL02NS2033" required>

            <input type="hidden" name="PayableAmount" id="PayableAmount" style="display: none;" value="1">
            
            <input type="hidden" name="0" id="MallNumber" style="display: none;" value="0">

            <button type="submit" id="SubmitForm" style="display: none;">Submit</button>
        </form>
</div>
        <div class="L1Div">
            <img class="image" src="CrossRiverMall.jpg" alt="Cross River Mall">
            <div class="L2Div">
                <h3 class="innerText">Cross River Mall</h3>
                <h4 class="innerText2">East Delhi's massive shopping precinct, the Cross River Mall spreads across many acres of land and is too big to be explored in one day.It's located in Shahdara.</h4>
                <h4 class="innerText3">Parking Capacity : 300 </h4>
                <br><input class="favorite styled viewAv" type="button" id="Form1" value="View Availability" style="display: inline;"/>
                <span id="Availability1"></span>
                <input class="favorite styled prebook" id="Form5" type="button" value="PreBook Now" style="display: inline;margin: 0px 0px 0px 20px;"/>
                <span id="Availability5"></span>
            </div>
        </div>
        <div class="L1Div">
            <img class="image" src="DLFPromenade.jpg" alt="DLF Promenade">
            <div class="L2Div">
                <h3 class="innerText">DLF Promenade</h3>
                <h4 class="innerText2">Located in the heart of Vasant Kunj is DLF Promenade ,the best in Vasant Kunj.Fully equipped with latest trendy apparel. It's also known as Delhi's Fashion Capital.</h4>
                <h4 class="innerText3">Parking Capacity : 300 </h4>
                <div ></div>

                <input class="favorite styled viewAv" type="button" id="Form2" value="View Availability" style="display: inline;"/>
                <span id="Availability2"></span>
                <input class="favorite styled prebook" id="Form6" type="button" value="PreBook Now" style="display: inline;margin: 0px 0px 0px 20px;"/>
                <span id="Availability6"></span>
            </div>
        </div>
        <div class="L1Div">
            <img class="image" src="V3S.jpg" alt="V3S Mall">
            <div class="L2Div">
                <h3 class="innerText">V3S Mall</h3>
                <h4 class="innerText2">Covers 5 acres, it is one of the trendiest shopping destinations in Laxmi Nagar,East Delhi. Mall offers high quality life style, shopping and eating options under one roof.</h4>
                <h4 class="innerText3">Parking Capacity : 300 </h4>
                <div ></div>
                
                <input class="favorite styled viewAv"  type="button" id="Form3" value="View Availability" style="display: inline;"/>
                <span id="Availability3"></span>
                <input class="favorite styled prebook" id="Form7" type="button" value="PreBook Now" style="display: inline;margin: 0px 0px 0px 20px;"/>
                <span id="Availability7"></span>
            </div>
        </div>
        <div class="L1Div">
            <img class="image" src="AmbienceMall.jpg" alt="Ambience Mall">
            <div class="L2Div">
                <h3 class="innerText">Ambience Mall</h3>
                <h4 class="innerText2">Airy, sophisticated mall offering global retail shops, restaurants, a bowling alley & movie theater.It is one stop place for all varieties of shopping , food , entertainment.</h4>
                <h4 class="innerText3">Parking Capacity : 300 </h4>
                <br>
                <input class="favorite styled viewAv" type="button" id="Form4" value="View Availability" style="display: inline;"/>
                <span id="Availability4"></span>
                <input class="favorite styled prebook" id="Form8" type="button" value="PreBook Now" style="display: inline;margin: 0px 0px 0px 20px;"/>
                <span id="Availability8"></span>
            </div>
        </div>
        <div class="L1Div" style="display: none;">
            <img class="image" src="FinalInvoice.webp" alt="Final Invoice">
            <div class="L2Div">
                <h3 class="innerText">Final Invoice</h3>
            <h6>Mall Name : </h6>
            <h6>In Time : <h6>
            <h6>Out Time : </h6>
            <h6>Date : </h6>
            <h6>Number Plate : </h6>
            <h6>Price :  </h6>
        </h4>               
            <input class="favorite styled" type="button" value="Pay Now" style="display: inline;"/>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer-about wow fadeInUp">
                <img class="logo-footer" src="Parker_Top.png" alt="logo-footer" data-at2x="assets/img/logo.png">
                <p>
                  We are a young company always looking for new and creative ideas to help you in your everyday work.
                </p>
                    </div>
              <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
                <h3>Contact Us for any Query</h3>
                <p><a href="https://maps.app.goo.gl/dvGjytmnwkACUtrA8" style="text-decoration: none;"><i class="fas fa-map-marker-alt" style="margin-right: 9px;"></i>Address: IIT Roorkee</p></a>
                    <p><a href="tel:+919067313978" style="text-decoration: none;"><i class="fas fa-phone"></i> Phone: +91-9067313978</a></p>
                    <p><a href="mailto:darshan_rb@cs.iitr.ac.in" style="text-decoration: none;"><i class="fas fa-envelope"></i> Email: darshan_rb@cs.iitr.ac.in</a></p>
                    </div>
                    <div class="col-md-4 footer-links wow fadeInUp">
                      <div class="row">
                        <div class="col">
                          <h3>Links</h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <p><a class="scroll-link text-decoration-none" href="#HomeTop">Home</a></p>
                          <p><a class="text-decoration-none" href="/about">About</a></p>
                          <p><a class="text-decoration-none" href="/login">Login</a></p>
                        </div>  
                      </div>
                    </div>
              </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
                 <div class="text-center">
                      &copy;Copyright-2023</div>
          </div>
        </div>
      </footer>
      <script src="index.js"></script>
</body>

</html>