<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="user.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="navbar.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
  <div id="hasNavBar">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a href="/afterlogin"><img class="form-inline" src="Parker_Top.png" alt="Logo" id="NavLogo"></a>
      <ul class="nav ms-auto justify-content-end background-color-dark">
        <li class="nav-item">
          <a class="nav-link text-white fs-5" href="/afterlogin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5 active" href="/ALabout">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fs-5 active" href="/user"><%=username%></a>
        </li>
      </ul>
    </div>
  </nav>
    </div>
    <div class="giveBackground">
        <div class="userProfile text-white">
            <h2 class="text-white text-center">User Profile</h2>
        </div>
        <div class="makeGrid">
            <div style="display: flex;justify-content: center;align-items: center;" class="text-white" id="data-output">            
          <div>
              <h3>Username : <%= username %> </h3>
              <h3>Email Id : <%= email %></h3>
              <h3>Number Plate : <%= numberplate %></h3>
          </div>
        </div>
            <div style="display: flex;justify-content: center;align-items: center;"><i class="fa-solid fa-user text-white text-center" style="font-size: 10em;"></i></div>
        </div>
  </div>
    <footer>
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer-about wow fadeInUp">
                <img class="logo-footer" src="Parker_Top.png" alt="logo-footer" data-at2x="assets/img/logo.png">
                <p>
                  We are a young company always looking for new and creative ideas to help you in your everyday work.
                </p>
                    </div>
              <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
                <h3>Contact Us for any Query</h3>
                <p><a href="https://maps.app.goo.gl/dvGjytmnwkACUtrA8" style="text-decoration: none;"><i class="fas fa-map-marker-alt" style="margin-right: 9px;"></i>Address: IIT Roorkee</p></a>
                    <p><a href="tel:+919067313978" style="text-decoration: none;"><i class="fas fa-phone"></i> Phone: +91-9067313978</a></p>
                    <p><a href="mailto:darshan_rb@cs.iitr.ac.in" style="text-decoration: none;"><i class="fas fa-envelope"></i> Email: darshan_rb@cs.iitr.ac.in</a></p>
                    </div>
                    <div class="col-md-4 footer-links wow fadeInUp">
                      <div class="row">
                        <div class="col">
                          <h3>Links</h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <p><a class="scroll-link text-decoration-none" href="/afterlogin">Home</a></p>
                          <p><a class="text-decoration-none" href="/ALabout">About</a></p>
                          <p><a class="text-decoration-none" href="/user">User</a></p>
                        </div>  
                      </div>
                    </div>
              </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
                 <div class="text-center">
                      &copy;Copyright-2023</div>
          </div>
        </div>
      </footer>
</body>
</html>